:root{
    --light: #fff; 
}

html {
    border-style: border-box;
}

body {
    max-width: auto;
}

.introduction {
    background-image: url("../img/brooklyn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 722px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));


}

.introduction h1 {
    font-size: 11rem !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: -4.0px;
    margin-top: 450px;
    color: var(--light);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
    
}




#main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem; 
    height: auto;
    width: 100%; 
    margin-bottom: 10rem; 
}

.left-box {
    display: flex;
    flex-flow: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 10em;
    padding-top: 2em;
}

.left-box h4 {
    font-family: 'Arapey', serif;
    font-weight: bold;
}


.right-box {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    flex-flow: column; 
    margin-top: 10em;
}

.right-box h2 {
    font-size: 4.5rem;

}

.right-box p {
    margin-top: 3em;
    font-size: 1.5em;
    font-family: 'Arapey', serif;
}


#video video {
    width: 100% !important;
    height: auto !important; 
}

#branding {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem; 
    height: auto;
    width: 100%; 
    margin-bottom: 10rem; 

}
/* MEDIA QUERIES */

@media (max-width: 830px) {
    .left-box {
        display: flex;
        flex-flow: column; 
        flex-wrap: wrap; 
        justify-content: left; 
        flex-shrink: 1; 
        flex-basis: 200px; 

    }

    .right-box {
        display: flex;
        flex-flow: row;
        justify-content: center; 
        flex-wrap: wrap; 
        flex-flow: column; 
        flex-shrink: 1; 
        flex-basis: 200px; 


        

    }

    .right-box h2 {
        font-size: 2.5rem;
    
    }

}