*,
*::after,
*a::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Arapey', sans-serif;
  line-height: 1.3;
  color: #000;
  font-size: 1.6rem;
  box-sizing: border-box; }

h4, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.heading-primary {
  font-size: 17rem;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.header {
  background-image: url("../img/brooklyn.jpg");
  background-size: cover;
  background-position: top;
  min-height: 95vh;
  position: relative;
  overflow: hidden; }
  .header__text-box {
    position: absolute;
    top: 35rem;
    left: 25rem; }

.heading-primary {
  color: #fff; }
