/* GLOBAL STYLES */
:root{
    --light: #fff; 
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; 
}

body {
    max-width: auto;
}

p {
    font-family: 'Arapey', serif;
}

h4 {
    font-family: sans-serif;
    font-weight: bold;
}

/* BODY */ 

.introduction {
    background-image: url("../img/brooklyn.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-self: center;
    flex: 0 0 auto;
    flex-basis: 70%;  


}

.introduction h1 {
    font-size: 11rem !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: -4.0px;
    margin-top: 450px;
    color: var(--light);
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
    
}




#main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem; 
    width: 80%; 
    margin-bottom: 10rem; 
    align-content: stretch; 
}

.left-box {
    display: flex;
    flex-flow: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 10em;
    padding-top: 2em;
}


.right-box {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    flex-flow: column; 
    margin-top: 10em;
}

.right-box h2 {
    font-size: 3.5rem;

}

.right-box p {
    margin-top: 3em;
    font-size: 1.5em;
}


#video video {
    width: 100% !important;
    height: auto !important; 
    
}

#team-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1rem;
    background: #000000;
    font-size: 80%;
    color: #fff;
    height: 35rem; 
}

.story {
    display: flex;
    flex-flow: column; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}

.venn-diagram {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap; 
    align-items: center;
}

.venn-diagram img {
    min-width: 400px;
    max-height: 400px;
}


.story h2 {
    font-family: 'Work Sans', sans-serif;
    align-items: flex-start;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    transform: scale(.9, 1);

} 

/* MEDIA QUERIES */

@media (max-width: 830px) {
    .left-box {
        display: flex;
        flex-flow: column; 
        flex-wrap: wrap; 
        justify-content: left; 
        flex-shrink: 1; 
        flex-basis: 200px; 

    }

    .right-box {
        display: flex;
        flex-flow: row;
        justify-content: center; 
        flex-wrap: wrap; 
        flex-flow: column; 
        flex-shrink: 1; 
        flex-basis: 200px; 


        

    }

    .right-box h2 {
        font-size: 2.5rem;
    
    }


    

}

@media (max-width: 990px) {
    .introduction {
        display: flex;
        flex-direction: column;
        flex-shrink: 1; 
        margin: 0 auto;

    
    
    }
    
    .introduction h1 {
        font-size: 7rem !important;
        text-align: left; 
        flex-shrink: 1; 
        flex-wrap: wrap;

        
    }

}