
.header {
    display: flex;
    flex-flow: row; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 

    &__text-box {

    }
}
.section-about {


    &--left {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10rem;

    }

    &--right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-flow: row;
        grid-column: span 2;
        align-items: center;

    }
}

.how {


    &__content {
        display: flex; 
        justify-content: center; 
        align-content: center; 
        flex-direction: column;


    }

}
