// PROJECT COLORS 
$color-black: #000; 
$color-white: #fff;
$background-color-light: #CDCBCE;
$background-color-lighter: #dfdfdf;
$color-pink: #FC0089; 

// DEFAULT FONT SIZES
$default-font-size: 3.4rem;

// CONTAINER PADDING
$default-container-padding: 15rem; 
