*,
*::after,
*a::before {
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
}

body {
    font-family: 'Arapey', sans-serif;   
    color: $color-black;  
    font-size: 1.6rem; 
    line-height: 1.6; 
    box-sizing: border-box; 
}

h4, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-size: 2.3rem; 
}

.users {
    &__img {
            max-width: 100%;
            height: auto; 
            padding: 0;
            margin: 0; 
            display: block; 
        }
        
    
}
