.header {
    background-image: url("../img/brooklyn.jpg"); 
    background-size: cover; 
    background-position: center;
    min-height: 80vh; 
    position: relative; 
    overflow: hidden; 


}

.heading-primary {
    color: $color-white; 
    margin-top: 28rem; 
}

.section-about {
    min-height: 70vh; 
}

.heading-quaternary {
    padding: 6.3rem; 
}

.h2-section {
    padding: 10rem; 
}