.header {
    background-image: url("../img/brooklyn.jpg"); 
    background-size: cover; 
    background-position: center;
    min-height: 80vh; 
    position: relative; 
    overflow: hidden; 


}

.heading-primary {
    color: $color-white; 
}

.section-about {
    min-height: 70vh; 
}